::-webkit-scrollbar {
    width: 11px;
    background-color: #111;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(114, 114, 114);
    border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    background-color: #111;
}